.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .multipleChoice button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
} */

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.multipleChoice button:hover {
  background-color: #555e7d;
}

.multipleChoice button:focus {
  outline: none;
}

.multipleChoice button svg {
  margin-right: 5px;
}

/* Text area */
form div.textAnswer {
  width: 12em;
  margin-right: 1em;
  margin-left: -1em;
}

/* BUTTON */
.InsertButtonBox {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 8px;
  position: fixed;
  z-index: 10;
  transition-duration: 0.4s;
}
button.InsertMCQButton {
  float: left;
}
button.InsertConsButton {
  float: left;
  margin-left: 1.5em;
}
.InsertButton {
  position: relative;
  z-index: 10 !important;
}
div.css-46bh2p-MuiCardContent-root {
  padding-top: 0;
}
div.NavigationAside {
  width: 200px;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
/* Responsive tablet */
@media only screen and (max-width: 1000px) {
  div.NavigationAside {
    width: 250px;
  }
}
/* Responsive small tablet */
@media only screen and (max-width: 800px) {
  div.NavigationAside {
    width: 300px;
  }
}
/* Responsive mobile */
@media only screen and (max-width: 700px) {
  div.NavigationAside {
    display: none;
  }
}
/* Responsive small mobile */
@media only screen and (max-width: 400px) {
  button.InsertConsButton {
    margin-left: 0px;
  }
}
